#jinja2: lstrip_blocks: True
apiVersion: v1
kind: Route
metadata:
  name: {{ route_name }}
spec:
  host: {{ route_host}
  to:
    kind: Service
    name: {{ service_name }}
  tls:
    termination: reencrypt        
    key: |-
"{{ lookup('file', 'temp/key') }}"
    certificate: |-
"{{ lookup('file', 'temp/cert') }}" 
    caCertificate: |-
"{{ lookup('file', 'temp/ca') }}"
    destinationCACertificate: |-  
"{{ lookup('file', 'temp/destCA') }}"
